<ul class="flex flex-wrap p-1">
  {%- for tag, posts in collections | dictsort %} {% if tag | tagIsValid %}
  <li class="m-2 p-2 text-sm md:text-base md:m-4 md:py-2 md:px-4 border rounded-lg shadow-lg hover:bg-gray-200 dark:hover:bg-gray-600">
    <a aria-label="Apri la pagina per l'etichetta {{ tag }}" href="/tag/{{ tag | slug }}">{{ tag }} ({{ posts | length }})</a>
  </li>
  {% endif %} {%- endfor -%}
</ul>