  <div>
    <p class="text-sm">Hai trovato un errore?
      <a href="{{ page.inputPath | replace("./", "https://github.com/andrealeardini/wikilear/edit/main/") }}" rel="noopener noreferrer">Modifica questa pagina su GitHub!</a>
      <p> </p>
    </p>
  </div>