<!-- https://www.11ty.dev/docs/filters/collection-items/ -->
{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}
  <footer>
    <nav class="my-10 bg-gray-100 dark:bg-gray-600 py-1 px-2 md:px-3 rounded-lg" aria-label="Link agli articoli">
      <ol class="w-full mt-2 flex justify-between font-bold text-5xl ">
        <li>
          {% if previousPost %}
          <a href="{{ previousPost.url }}" class=""><
          <p class="mt-4 pr-4 text-base">{{ previousPost.data.title | truncate(50) }}</p></a>
          {% endif %}
        </li>
        <li class="text-right">
          <div class="pl-4">
            {% if nextPost %}
            <a href="{{ nextPost.url }}" >>
            <p class="mt-4 text-base">{{ nextPost.data.title | truncate(50) }}</p></a>
          {% endif %}
          </div>
        </li>
      </ol>
    </nav>
  </footer>
