{%- macro render(data) -%} {% set columnsHeader = ["A", "B", "C", "D", "E", "F",
"G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R","S", "T", "U", "V",
"W", "X", "Y", "Z"] %} {% set columnsNumber = data | sheet('length') %}
<div class="w-full overflow-auto">
  {% set tableClass = data | sheet('table') %}
  <table class="table-auto {{ tableClass }}">
    <thead>
      <tr>
        <th class="bg-gray-20 border-gray-400 border-t border-r border-b border-l"></th>
        {% for column in range(0, columnsNumber) %}
        <th class="resize-x bg-gray-100 border-gray-400 border-t border-r border-b border-l-0">
          {{ columnsHeader[loop.index0] }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %} {% set rowClass = row | sheet('row') %} {% set
      cellsClass = row | sheet('cells') %}
      <tr class="{{ rowClass }}">
        <th class="bg-gray-100 border-gray-400 border-t-0 border-r border-b border-l">
          <div>{{ loop.index }}</div>
        </th>
        {% for cell in row %} {% set cellClass = cell | sheet('cell') -%} {% set
        rowspan = cell | sheet('rowspan') %} {% set colspan = cell |
        sheet('colspan') %} {% if ((not colspan) and (not rowspan)) or (colspan
        != 0) or (rowspan !=0) %}
        <td {% if colspan %}colspan="{{ colspan }}" {% endif %}{% if rowspan %}rowspan="{{ rowspan }}" {% endif
          %}class="{{ cellClass }} {{ cellsClass }}">
          {% if cell %} {% set text = cell | sheet %}
          {{- text | safe -}}
          {% endif %}
        </td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%- endmacro -%}