{% if tags %}
<ul class="flex flex-wrap">
  {% for tag in tags %}
  <li class="mt-4 mr-4 text-gray-700 dm:text-yellow-200">
    <a
      href="/tag/{{ tag | slug }}/"
      class="px-2 py-1 text-sm border rounded-lg hover:bg-gray-300 dm:hover:text-gray-700"
      >{{ tag | title }}</a
    >
  </li>
  {% endfor %}
</ul>
{% endif %}
