{% if tags %}
<ul class="flex flex-wrap mb-4 gap-4">
  {% for tag in tags %}
  {% if tag | tagIsValid %}
  <li class="mt-4 ">
    <a
      href="/tag/{{ tag | slug }}/"
      aria-label="Apri la pagina per l'etichetta {{ tag }}"
      class="px-3 py-2 text-sm border shadow-md rounded-full text-gray-700 dark:text-gray-200 hover:bg-gray-300 dark:hover:text-gray-700"
      >{{ tag }}</a
    >
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
