<div
  id="TOS"
  class="hidden fixed flex-col items-center right-0 left-0 bottom-4 md:bottom-12 w-11/12 md:w-2/3 p-4 mx-auto rounded-lg dark:text-gray-100 bg-blue-100 dark:bg-gray-500 border-2 border-black"
>
  <p>
    Wikilear rispetta la tua privacy, non traccia gli utenti e utilizza solo
    cookie tecnici. Alcuni cookie di terze parti potrebbero essere installati se
    guardi i video incorporati di YouTube. Proseguendo la navigazione dichiari
    di aver letto e compreso i
    <a href="/termini-uso-privacy"
      >termini di servizio e l'utilizzo dei cookie</a
    >
    da parte di Wikilear.
  </p>
  <button
    id="confirmTOS"
    type="button"
    class="justify-self-end px-4 py-3 font-semibold bg-blue-400 mx-auto rounded-lg"
  >
    Ho capito
  </button>
</div>
