---
schema:
  type: WebPage
---
{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set postListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set postListItems = collections[tag] | reverse %}
  {% set pageHeaderTitle = tag %}
  {% set title = 'Archivio | '+tag %}
{% endif %}

{% block content %}
  {% include "partials/page-header.njk" %}
  <div>
    {% include "partials/post-list.njk" %}

    {# If we leave pagination in for tags, the next and prev links will
      link to tags and be rather confusing, so don't render in that situation #}
    {% if not tag %}
      {% if not(page.url == "/")  %}
       {% include "partials/pagination.njk" %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
