{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}
{# Render post date#}
{% set pageHeaderSummary %}
  <div>
    <time class="text-sm md:text-base" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
  </div>
  {% if subtitle %}
  <p class="italic my-4">{{ subtitle | safe }}</p>
  {% endif %}
{% endset %}

{% block content %}
  {% if image %}
    <img
      src="{{ image }}"
      {% if image-description %}
      alt="{{ image-description }}"
      {% else %}
      alt=""
      {% endif %}
      {% if image_title %}
      title="{{ image_title }}"
      {% endif %}
      class="my-4 rounded-lg w-full"
    />
  {% endif %}
  {% include "partials/page-header.njk" %}
  <article class="{{ style }}">
    {{ content | safe }}
  </article>

  {% if tags %}
    <p class="mt-8 font-semibold" id="tags-desc">
      Etichette
    </p>
    <div class="mb-6" aria-describedby="tags-desc">
      {% include "components/tags-post.njk" %}
    </div>
  {% endif %}

  {% block posts %}
    {# https://github.com/11ty/eleventy/issues/434#issuecomment-469028924 #}
    {% import "components/nav-posts.njk" as nav with context %}
    {{ nav.posts(collections[collection]) }}
  {% endblock %}

  {% if recommendedPosts %}
  <footer class="recommended-posts">
    {% set postListItems = recommendedPosts %}
    {% set postListHeadline = 'Altri articoli dal blog' %}
    {% include "partials/post-list.njk" %}
  </footer>
  {% endif %}

{% endblock %}

