---
schema:
  type: Article
---
{% extends "layouts/base.njk" %}
{% block ogType %}
<meta property="og:type" content="article">
{% endblock %}
{% set pageHeaderTitle = title %}
{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}
{% set wc = content | striptags | wordcount %}
{% set wPerMinute = (wc / 200) + 1 %}
{# Render post date#}
{% set pageHeaderSummary %}
<div class="text-sm md:text-base">
  <time  datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time> di <a href="\chi-sono">Andrea Leardini</a>
  <p>Tempo di lettura: {{ wPerMinute | round }} min. circa</p>
</div>
{% if subtitle %}
  <p class="italic my-4">{{ subtitle | safe }}</p>
{% endif %}
{% endset %}

{%- block content -%}
<article>
  {%- include "partials/page-header.njk" -%}
  <div class="{{ style }}">
    {{ content | safe }}
  </div>

   {% if tags %}
    <p class="mt-8 font-semibold" id="tags-desc">
      Etichette
    </p>
    <div class="mb-6" aria-describedby="tags-desc">
      {%- include "components/tags-post.njk" -%}
    </div>
  {% endif %}

  {%- include "components/share.njk" -%}

  <hr class="mt-8 mb-4">
  {%- include "components/editthispage.njk" -%}
  <hr class="mt-4 mb-4">

  {% block posts %}
    {# https://github.com/11ty/eleventy/issues/434#issuecomment-469028924 #}
    {% import "components/nav-posts.njk" as nav with context %}
    {{- nav.posts(collections[collection]) -}}
  {% endblock %}

  {% if recommendedPosts %}
    <footer class="recommended-posts">
      {% set postListItems = recommendedPosts %}
      {% set postListHeadline = 'Altri articoli dal blog' %}
      {%- include "partials/post-list.njk" -%}
    </footer>
  {% endif %}
</article>
{%- endblock -%}