  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ schema.type or WebSite }}",
  "headline": "{{ title }}",
  "image": {% if image %}"{{ site.url }}{{ image }}"{% else %}[]{% endif %},
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
  },
  "genre": "{{ site.genre }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.publisher.name }}"
  },
  "url": "{{ site.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ site.url }}{{ canonicalUrl or page.url }}",
  {%- set datePublished = published or date %}
  {%- if datePublished %}
  "datePublished": "{{ datePublished | htmlDateString }}",
  {% endif %}
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ subtitle | striptags }}"
}
</script>