@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-width: 300px;
    @apply text-gray-900 dark:text-gray-300;
  }

  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mt-6 mb-6 dark:text-gray-300;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold mt-8 mb-4  dark:text-gray-300;
  }

  h3 {
    @apply text-base md:text-lg lg:text-xl font-semibold mt-6 mb-2  dark:text-gray-300;
  }

  h4 {
    @apply text-base lg:text-lg font-semibold mt-6 mb-2  dark:text-gray-300;
  }

  a {
    @apply text-blue-700 hover:text-blue-900 dark:text-yellow-400 dark:hover:text-yellow-600;
  }

  a[href].direct-link,
  a[href].direct-link:visited {
    @apply invisible;
  }

  :focus > a[href].direct-link,
  :focus > a[href].direct-link:visited,
  :hover > a[href].direct-link,
  :hover > a[href].direct-link:visited,
  a[href].direct-link:focus,
  a[href].direct-link:focus:visited {
    @apply text-blue-700 dark:text-yellow-400 font-bold visible;
  }

  img {
    @apply mx-auto;
  }

  p {
    @apply mb-4;
  }

  strong {
    @apply text-gray-900 dark:text-gray-300;
  }

  table {
    @apply border-collapse w-full my-6 mx-auto;
  }

  th {
    @apply bg-gray-200 dark:bg-gray-600 p-2;
  }

  td {
    @apply self-center;
    @apply p-2;
  }

  td.table-cell-icon16h {
    @apply w-auto h-auto content-center self-center;
    min-width: 32px;
  }

  td.table-cell-icon16h img {
    @apply w-auto m-auto;
    height: 16px;
  }

  td,
  th {
    @apply lg:border-b lg:border-solid;
  }

  blockquote,
  .note {
    @apply w-11/12 mt-7 mb-7 mx-auto p-6 border-l-8 border-yellow-600 dark:border-blue-600 bg-gray-200 dark:bg-gray-700;
  }

  blockquote p:last-of-type,
  .note p:last-of-type {
    @apply mb-0;
  }
}

@layer components {
  .markdown ul {
    @apply list-disc m-4 mb-8;
  }

  .markdown ol {
    @apply list-decimal m-4 mb-8;
  }

  .markdown li {
    @apply m-3;
  }

  /* image and video captions */
  .markdown video + strong,
  .markdown picture + strong,
  .markdown img + strong,
  .caption {
    width: 90%;
    display: inherit;
    @apply mt-4 mb-4 mx-auto font-light text-center text-sm md:text-base;
  }

  /* impostazioni di base per rendere una tabella responsive.
  sotto il valore di soglia le righe si trasformano in flex
  e le colonne si dispongono in base ai valori impostati per ogni colonna */

  .markdown table.responsive-table {
    @apply w-full mt-6 text-base;
  }

  .markdown table.responsive-table thead {
    @apply hidden;
  }

  .markdown table.responsive-table td.responsive-table-header {
    @apply font-bold;
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .markdown table.responsive-table tr {
    @apply flex flex-wrap mb-6;
  }

  .markdown table.responsive-table td.first-column {
    width: 15%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .markdown table.responsive-table td.second-column {
    width: 65%;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .markdown table.responsive-table td {
    @apply block;
  }

  .markdown table.responsive-table th {
    @apply text-center;
  }

  .markdown table.responsive-table td {
    @apply text-left;
  }

  .markdown table.responsive-table td.responsive-table-header {
    @apply lg:hidden;
  }

  .markdown table.responsive-table td.first-column,
  .markdown table.responsive-table td.second-column,
  .markdown table.responsive-table th,
  .markdown table.responsive-table td {
    @apply lg:w-auto lg:h-auto;
  }
  .markdown table.responsive-table thead {
    @apply lg:table-header-group;
  }
  .markdown table.responsive-table td {
    @apply lg:table-cell;
  }
  .markdown table.responsive-table tr {
    @apply lg:table-row;
  }

   /**
  * wikilear prismjs theme for JavaScript, CSS and HTML
  * @author Andrea Leardini
  */

  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-gray-900 text-base font-mono font-medium text-left whitespace-pre break-normal leading-6;
    word-spacing: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    @apply p-4 mt-2 mb-10 my-0 overflow-auto rounded-md;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    @apply bg-gray-100 shadow-md;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    @apply p-1 rounded-md whitespace-normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-green-800;
  }

  .token.punctuation {
    @apply text-red-800;
  }

  .token.namespace {
    @apply opacity-70;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-blue-800;
  }

  .token.boolean,
  .token.number {
    @apply text-red-500;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-yellow-800;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    @apply text-yellow-700;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    @apply text-gray-800 font-semibold;
  }

  .token.keyword {
    @apply text-gray-700;
  }

  .token.regex,
  .token.important {
    @apply text-purple-600;
  }

  .token.important,
  .token.bold {
    @apply font-bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    @apply cursor-help;
  }
 }

@layer utilities {
  :root {
    --image-filter: grayscale(30%);
  }

  /* https://twitter.com/JoshWComeau/status/1332015868725891076?s=20 */
  h2, h3, .heading {
    scroll-margin-top: 72px;
    scroll-snap-margin-top: 72px;
  }

  .dark img:not([src*=".svg"]) {
    filter: var(--image-filter);
  }

  .dark img.invert {
    filter: invert(0);
  }


  /* TODO: use new Tailwind plugin */
  /* aspect ratio */
  /* https://css-tricks.com/aspect-ratio-boxes/#using-custom-properties */

  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {
    height: auto;
  }

  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc( 100% / (var(--aspect-ratio)) );
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .basis {
    flex-basis: 50%;
  }

  @variants responsive {
    .keep-tall {
      @apply max-h-3/4v w-auto;
    }
  }
}





