---
eleventyNavigation:
  key: Home
layout: layouts/page.njk
title: Wikilear, tutorial e codelab
---

<p>Benvenuto sul nuovo Wikilear!</p>

<p>
  Wikilear si rinnova e diventa un sito. Un nuovo formato, nuovi contenuti e
  tutorial ma la stessa semplicità e praticità che ha contraddistinto il blog
  fin dalla sua nascita.
</p>

{% set postListItems = collections.feed.slice(0,3) %}
<div class="px-1 py-2 md:p-4">
  {% include "partials/post-list.njk" %}
</div>

{% include 'components/card.njk' %}

<p class="pb-8">
  Wikilear è stato compilato con Eleventy e TailwindCSS,  ed è ospitato su Netflix. Trovi il codice sorgente su GitHub.
</p>