---
eleventyNavigation:
  key: Home
layout: layouts/page.njk
title: Wikilear, tutorial e codelab
description: Wikilear si rinnova e diventa un sito. Un nuovo formato, nuovi contenuti e
  tutorial ma la stessa semplicità e praticità che ha contraddistinto il blog
  fin dalla sua nascita.
image: /images/home.webp
---

<div>
  <img src="/images/home.webp" alt="Concetto di apprendimento online" class="rounded-lg shadow-lg">
</div>

<h2>{{title}}</h2>

<p>{{description}}</p>
<p>Leggi uno degli ultimi articoli pubblicati sul sito o consulta una delle <a href="#sections">sezioni tematiche</a> </p>

{% set postListItems = collections.feed.slice(0,3) %}
<div class="px-1 py-2 md:p-4">
  {% include "partials/post-list.njk" %}
</div>
<a href="#sections"></a>
{% include 'components/card.njk' %}

<p>
  Wikilear è stato creato con Eleventy e TailwindCSS, ed è ospitato su Netflix. Trovi il codice sorgente su GitHub.
</p>
<p class="text-sm">Credito illustrazione: <a href="https://www.freepik.com" rel="nopener norefferer">Designed by pikisuperstar / Freepik</a></p>