---
eleventyNavigation:
  key: Home
layout: layouts/page.njk
title: Wikilear, tutorial e codelab
hide_title: true
description:
  "Wikilear si rinnova: un nuovo formato, nuovi contenuti e
  tutorial ma la stessa semplicità e praticità che ha contraddistinto il blog
  fin dalla sua nascita."
image: /images/home.jpg
pagination:
  data: collections.feed
  size: 3
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
paginationPrevText: "Articoli più recenti"
paginationNextText: "Articoli più vecchi"
paginationAnchor: "#all-articles"
feed: ""
---

{% block content %}
<div>
  <img
    src="/images/home.jpg"
    alt="Concetto di apprendimento online"
    class="w-full rounded-lg shadow-lg"
  />
</div>
<article class="mx-1 sm:mx-2 md:mx-4">
  <h1>{{ title }}</h1>

  <p>{{ description }}</p>
  <p class="mb-0">
    Leggi uno degli ultimi articoli pubblicati sul sito, consulta uno degli
    <a href="#topics">argomenti principali</a> o vedi gli articoli
    <a href="/tag/">suddivisi per etichetta.</a>
  </p>
  <div id="all-articles" class="heading my-2">
    {% set postListItems = pagination.items %} {% include
    "partials/post-list.njk" %} {% include "partials/pagination.njk" %}
  </div>
</article>
<article
  id="topics"
  class="heading my-8 mx-1 sm:mx-2 md:mx-4 text-center border rounded-lg shadow-lg font-bold"
>
  <h2 class="mt-4 font-bold">Argomenti principali</h2>
  {% include 'components/card.njk' %}
</article>

{% set cards = [
  { url: "/blog/", image: "/images/blog-post.svg", title: "Blog"},
  { url: "/tips-and-tricks/", image: "/images/undraw_team_up_ip2x.png", title: "Tips and tricks"},
  { url: "/termini-uso-privacy/", image: "/images/undraw_privacy_protection_nlwy.png", title: "Termini d'uso e privacy"},
  { url: "/tutorial/", image: "/images/tutorial.svg", title: "Tutorial"}
] %}

<div class="flex flex-wrap justify-between mx-1 sm:mx-2 md:mx-4 my-4 gap-y-8">
  {% for card in cards %}
  <a class="w-full sm:w-5/11" href="{{ card.url }}">
    <div
      class="h-full mb-6 flex flex-col border-gray-600 dark:bg-gray-300 border rounded-lg shadow-lg"
    >
      <div class="flex flex-col rounded-t-lg bg-gray-800 text-white">
        <p class="text-center m-2">{{ card.title }}</p>
      </div>
      <div class="h-full relative pb-2/3">
        <img
          class="p-6 sm:p-4 absolute h-full object-cover"
          src="{{ card.image }}"
          alt="{{ card.title }}"
          sizes="(max-width:640px) 300px, 600px"
        />
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<article
  class="my-8 mx-1 sm:mx-2 md:mx-4 text-center border rounded-lg shadow-lg font-semibold"
>
  <details class="cursor-pointer">
    <summary id="tags" class="heading m-4 font-bold">Tutte le etichette</summary>
    {% include 'components/tagsList/tags-list.njk' %}
  </details>
</article>

<p>
  Wikilear è un progetto open source creato con
  <a href="https://www.11ty.dev/" rel="noopener noreferrer">Eleventy</a> e
  <a href="https://tailwindcss.com/" rel="noopener noreferrer">Tailwind CSS,</a>
  è ospitato su <a href="https://www.netlify.com/" rel="noopener noreferrer">Netlify,</a> trovi il codice sorgente su GitHub. Wikilear è stato testato
  sui più moderni browser: Chrome, Edge e Firefox. Su Safari potresti
  riscontrare qualche problema a livello grafico.
</p>
<small>
  Credito illustrazione:
  <a href="https://www.freepik.com" rel="nopener noreferrer"
    >Designed by pikisuperstar / Freepik</a
  >
</small>
{% endblock %}
