---
eleventyNavigation:
  key: Etichette
  parent: Home
  showLast: true
permalink: /tag/
layout: layouts/page.njk
image: /images/undraw_Creation_process_ukbh.png
hide_title: true
---
<div>
  <img
    src="/images/undraw_Creation_process_ukbh.png"
    alt="Uomo che appone etichette"
    class="w-full rounded-lg shadow-2xl"
  />
</div>
<h1 class="mt-10">Etichette</h1>

<p>Tutti gli articoli raggruppati per etichetta (tag). Tra parentesi è indicato il numero di articoli per ogni etichetta.</p>
<div class="rounded-lg shadow-lg p-4">
  {% include "components/tags-list.njk" %}
</div>