<footer
    id="footer"
    class="col-start-1 col-end-13 row-start-5 row-end-6 mt-6 pt-6 px-4 pb-6 bg-gray-300 dark:bg-gray-700"
    >
    {% include "components/darkMode/darkmode.njk" %}
    <div class="m-auto text-center">
      <a
        class="font-semibold mr-4"
        href="/termini-uso-privacy"
        >Cookie, Privacy e termini d'uso</a
      >
    </div>
    <p class="m-auto max-w-lg text-center text-sm mt-6">
      Copyright © 2011-2020 Andrea Leardini.<span class="md:hidden"
        ><br
      /></span>
      Quest'opera è distribuita con
      <a
        class="font-semibold"
        href="https://creativecommons.org/licenses/by/4.0/"
        target="_blank"
        rel="noopener noreferrer"
        >licenza Creative Commons Attribuzione 4.0 Internazionale.</a
      >
      Salvo diversa indicazione, il codice è distribuito con
      <a
        class="font-semibold"
        href="https://opensource.org/licenses/MIT"
        target="_blank"
        rel="noopener noreferrer"
        >licenza MIT.</a
      >
    </p>
  </footer>
</div>