{# Only renders this section if there are links to render #} {% if
pagination.href.next or pagination.href.previous %}
<footer>
  <nav class="mt-8" aria-label="Link alle pagine">
    <ol class="mt-2 flex justify-center items-center text-center gap-x-1">
      {% if pagination.href.previous %}
      <li class="w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300 dark:hover:bg-gray-700 border rounded-lg shadow-lg">
          <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" title="Pagina precedente">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="m-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              />
            </svg>
          </a>
        </li>
        {% endif %}

      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300 dark:hover:bg-gray-700
        {% if (pagination.pageNumber==0) %} bg-gray-200 dark:bg-gray-600 {% endif %}">
        <a class="w-full h-full flex justify-center items-center" href="{{ pagination.href.first }}{{ paginationAnchor }}" title="Prima pagina">1</a>
      </li>

      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300 dark:hover:bg-gray-700
        {% if (pagination.pageNumber==1) %} bg-gray-200 dark:bg-gray-600 {% endif %}">
        <a
          class="w-full h-full flex justify-center items-center" href="{{ pagination.hrefs[1] }}{{ paginationAnchor }}"
          {% if pagination.pages.length < 3 %} title="Ultima pagina"{% endif %}
          >2</a
        >
      </li>
      {% if (pagination.pageNumber > 2) and (pagination.pages.length > 4) %}
      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 flex justify-center items-center">. . .</li>
      {% endif %}
      {% if (pagination.pageNumber > 1) and (pagination.pageNumber <
      pagination.pages.length-2) %}
      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300
         bg-gray-200 dark:bg-gray-600">
        <a class="w-full h-full flex justify-center items-center" href="{{ page.url }}{{ paginationAnchor }}">{{ pagination.pageNumber + 1 }}</a>
      </li>
      {% endif %}
      {% if (pagination.pageNumber < pagination.pages.length-3) and (pagination.pages.length > 4) %}
      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 flex justify-center items-center">
        . . .
      </li>
      {% endif %}
      {% if pagination.pages.length > 3 %}
      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300 dark:hover:bg-gray-700
        {% if (pagination.pageNumber==pagination.pages.length -2) %} bg-gray-200 dark:bg-gray-600 {% endif %}">
        <a
          class="w-full h-full flex justify-center items-center" href="{{ pagination.hrefs[pagination.pages.length - 2] }}{{
            paginationAnchor
          }}">{{ pagination.pages.length - 1 }}</a
        >
      </li>
      {% endif %}
      {% if pagination.pages.length > 2 %}
      <li class="border rounded-lg shadow-lg w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300 dark:hover:bg-gray-700
        {% if (pagination.pageNumber==pagination.pages.length -1) %} bg-gray-200 dark:bg-gray-600 {% endif %}">
        <a class="w-full h-full flex justify-center items-center" href="{{ pagination.href.last }}{{ paginationAnchor }}" title="Ultima pagina">{{ pagination.pages.length }}</a>
      </li>
      {% endif %}

      {% if pagination.href.next %}
      <li class="w-10 h-10 md:w-12 md:h-12 hover:bg-gray-300 dark:hover:bg-gray-700 border rounded-lg shadow-lg">
        <a class="m-0" href="{{ pagination.href.next }}{{ paginationAnchor }}" title="Pagina successiva">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="m-1"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </li>
      {% endif %}
    </ol>
  </nav>
</footer>
{% endif %}
