
{% if postListHeadline %}
<h2 class="mt-8 font-semibold">
  {{ postListHeadline }}
</h2>
{% endif %}
<ul>
  {% for item in postListItems %}
  <li class="mt-6 md:mt-8 lg:mt-10 shadow-lg border border-gray-300 rounded-lg">
    <article>
    {% if item.data.snippet_image %}
      {% set image = item.data.snippet_image %}
      {% set image_description = item.data.snippet-image-description %}
      {% set image_title = item.data.snippet-image-title %}
    {% else %}
      {% set image = item.data.image %}
      {% set image_description = item.data.image-description %}
      {% set image_title = item.data.image-title %}
    {% endif %}

    {% if image %}
    <div>
      <img
        src="{{ image }}"
        {% if image-description %}
        alt="{{ image-description }}"
        {% else %}
        alt=""
        {% endif %}
        {% if image_title %}
        title="{{ image_title }}"
        {% endif %}
        class="w-full rounded-t-lg m-0 shadow"
        sizes="(min-width: 1280px) 581px, (min-width: 780px) 506px, (min-width: 640px) 554px, calc(92.5vw - 20px)"
      />
    </div>
    {% endif %}
    <div class="p-4">
      {# h2 inside a element to avoid axe warning https://dequeuniversity.com/rules/axe/4.3/color-contrast?application=AxeChrome #}
      <a href="{{ item.url | url }}" class="font-semibold"><h2 class="mt-2">{{ item.data.title }}</h2></a>
      {%- if item.data.date %}
      <div class="mt-4 text-sm xl:text-base font-semibold">
        <div class="flex gap-1 lg:gap-2 align-baseline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 lg:h-6 w-5 lg:w-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          <time datetime="{{ item.data.date | w3DateFilter }}">{{ item.data.date | dateFilter }}</time>
        </div>
        <div class="flex gap-1 lg:gap-2 mt-1 align-baseline">
          {% set wc = item.templateContent | striptags | wordcount %}
          {% set wPerMinute = (wc / 200) + 1 %}
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 lg:h-6 w-5 lg:w-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg> {{ wPerMinute | round }} min. circa
        </div>
      </div>
      {% endif %}
      <p class="mt-4">{{ item.data.subtitle | safe }}</p>
      <p class="mt-4"><a href="{{item.url | url}}" aria-label="Leggi l'intero articolo {{item.data.title}}">Leggi l'intero articolo...</a></p>
      {% set tags = item.data.tags %}
      {% include 'components/tags-post.njk' %}
    </div>
    </article>
  </li>
  {%- endfor -%}
</ul>

