{% if tips.length %}
## Tips and Tricks

{% for post in tips.slice(0, 3) %}
  - [{{ post.data.title }}]({{ post.url}})
{% endfor %}


{% if tips.length > 3 %}
[Tutti i tips and tricks...](tips-and-tricks/)
{% endif %}
{% endif %}